@charset "utf-8";

@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
    line-height: 1.84;
  }

  .header {
    position: fixed;
    height: 49px;
  }
  .header nav {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    padding: 0 0 30px;
  }
  .header-in {
    display: block;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
  }
  .nav-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 25px 16px;
  }
  .btn-global-nav {
    background-color: #000;
    z-index: 105;
    display: block;
    width: 24px;
    height: 1px;
    transition: all .4s cubic-bezier(.215, .61, .355, 1.2);
    text-align: center;
  }
  .btn-global-nav::before {
    content: '';
    background-color: #000;
    display: block;
    width: 24px;
    height: 1px;
    transition: all .4s cubic-bezier(.215, .61, .355, 1.2);
    position: relative;
    top: -3px;
    transform: translateY(-6px);
  }
  .btn-global-nav::after {
    content: '';
    background-color: #000;
    display: block;
    width: 24px;
    height: 1px;
    transition: all .4s cubic-bezier(.215, .61, .355, 1.2);
    position: relative;
    top: 1px;
    right: 0;
    transform: translateY(6px);
  }
  .is-menu-open .btn-global-nav {
    background-color: transparent;
    top: 0;
  }
  .is-menu-open .btn-global-nav::before {
    transform: rotate(-45deg);
    top: -1px;
  }
  .is-menu-open .btn-global-nav::after {
    transform: rotate(45deg);
    top: -2px;
  }
  body.is-fixed .header {
    animation: none;
  }
  body.is-fixed .header .header-in {
    animation: none;
  }
  .global-nav .global-nav-in {
    display: block;
  }
  .global-nav .global-nav-in .nav-item {
    margin: 0 auto;
    font-size: 22px;
  }
  .global-nav .global-nav-in .nav-item a {
    font-size: 16px;
  }
  .header nav ul li:first-child {
    margin: 0 auto;
    padding: 40px 0 24px;
  }
  .header nav ul li {
    padding: 0 0 24px;
  }
  .header .area-call {
    position: relative;
    top: -4px;
    border: 1px solid #a9a39c;
    margin: 0 16px 40px;
  }
  .header .area-call a {
    display: block;
    padding: 18px 0;
    text-decoration: none;
    pointer-events: auto;
  }
  .tit-mv {
    width: 180px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }
  .sec-mv .scroll {
    font-size: 14px;
  }
  .sec-mv .scroll .scroll-down {
    height: 72px;
  }
  .list-mv li:nth-of-type(1) {
    background: url("../image/MV/bg_mv1_sp.jpg") center center no-repeat;
    background-size: cover;
  }
  .list-mv li:nth-of-type(2) {
    background: url("../image/MV/bg_mv2_sp.jpg") center center no-repeat;
    background-size: cover;
  }
  .list-mv li:nth-of-type(3) {
    background: url("../image/MV/bg_mv3_sp.jpg") center center no-repeat;
    background-size: cover;
  }  

  #main {
    overflow: hidden;
  }
/* news ares */
  .sec-in {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0 16px;
  }
  #page-home .sec-news {
    margin: 75px auto 80px;
  }
  #page-home .sec-news .sec-in {
    display: block;
  }
  .sec-news .sec-in h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 13px;
  }
  .sec-news .list-news {
    width: 100%;
    margin: 0 0 24px;
  }
  .sec-news .list-news .item-news a {
    display: block;
    padding: 11px 0;
  }
  .sec-news .list-news .item-news a .date {
    display: block;
    width: 100%;
    font-size: 10px;
    margin: 0 0 -2px;
  }
  .sec-news .list-news .item-news a .title {
    display: block;
    width: 100%;
    font-size: 14px;
  }
  .sec-news .area-btn-more {
    width: 80px;
    margin: 0 0 0 auto;
  }
  .sec-news .area-btn-more .btn {
    padding: 0 0 8px;
    font-size: 14px;
  }
  .icon-arrow-gray {
    width: 80px;
  }
  .icon-arrow-bottom {
    width: 100%;
    margin: 20px 0 0;
  }

  /* menu section */
  #page-home .sec-menu {
    padding: 135px 0 56px;
  }
  #page-home .sec-menu::before {
    width: 100%;
    height: 176px;
    background: url("../image/bg_menu_page_header_sp.jpg") center center no-repeat;
    background-size: cover;
  }  
  .sec-menu .sec-in {
    padding: 0 16px;
    background-color: transparent;
    border-radius: 0px;
  }
  .sec-menu h2 {
    margin: 0 auto;
    font-size: 32px;
    background-color: #fff;
    padding-top: 5px;
  }
  .sec-menu-child {
    width: 100%;
    margin: 0 0 40px;
  }
  .sec-menu-child h3 {
    margin: 0 0 12px;
    font-size: 24px;
    overflow: hidden;
  }
  .sec-menu .sec-menu-child h3 span {
    padding: 0 10px 0 0;
  }
  .sec-menu .sec-menu-child h3 span::before,
  .sec-menu .sec-menu-child h3 span::after {
    width: 1500%;
    border-right: none;
    border-left: none;
  }
  #page-home .sec-menu .sec-menu-child {
    width: 100%;
    margin: 0 0 40px;
  }
  #page-home .sec-menu .sec-menu-child ul li {
    margin: 15px 0 0;
    font-size: 14px;
  }
  #page-home .sec-menu .sec-menu-child ul li div:first-of-type {
    width: 40%;
  }
  #page-home .sec-menu .sec-menu-child ul li div:not(:first-of-type) {
    width: 20%;
    text-align: center;
  }
  
  .area-btn {
    width: 100%;
    font-size: 17px;
  }
  .btn-border {
    padding: 24px 0;
  }

  /* staff section */
  @keyframes width-76 {
    0% {
      width: 0;
    }
    100% {
      width: 62%;
    }
  }
  @keyframes height-268 {
    0% {
      height: 0;
    }
    100% {
      height: 40px;
    }
  }
  .sec-staff {
    padding: 0 0 110px;
    width: 100%;
  }
  .box-beige {
    height: 98%;
  }
  .sec-staff h2 {
    position: absolute;
    top: 0;
    left: 50px;
    font-size: 32px;
    background: #fff;
    height: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 3px 30px;
  }
  .sec-staff h2 span {
    opacity: 0;
    visibility: hidden;
    display: block;
    /* padding: 28px 4px 40px 0; */
    line-height: 1.5;
    box-sizing: border-box;
  }
  .sec-staff .list-staff {
    display: block;
  }
  #page-home .sec-staff .list-staff {
    position: relative;
    top: 56px;
  }
  .sec-staff .list-staff li {
    display: block;
    width: 100%;
    text-align: center;
  }
  .sec-staff .list-staff li:nth-of-type(1) {
    margin: 0 auto;
  }
  .sec-staff .list-staff li:nth-of-type(2) {
    margin: 48px 0 0;
  }
  .sec-staff .list-staff li:nth-of-type(3) {
    margin: 48px 0 0;
  }
  .sec-staff .sec-in.sf-visible .list-staff li .img {
    margin: 0 56px;
  }
  .staff-img1,
  .staff-img2,
  .staff-img3 {
    height: 267px;
  }
  .sec-staff .list-staff .content-staff {
    width: 100%;
    margin: 16px 0 0;
  }
  .sec-staff .list-staff li .content-staff h3 {
    margin: 0 0 24px;
    line-height: 1;
  }
  .sec-staff .list-staff li .content-staff h3 .title {
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 300;
  }
  .sec-staff .list-staff li .content-staff h3 .en {
    margin: 0 0 10px;
    font-size: 24px;
  }
  .sec-staff .list-staff li .content-staff h3 .jp {
    font-size: 13px;
  }
  .sec-staff .list-staff li .content-staff p {
    font-size: 13px;
    line-height: 1.84;
    text-align: left;
  }

  /* access section */
  #page-home .sec-access {
    padding: 60px 0 0;
  }
  .sec-access h2 {
    font-size: 32px;
    margin: 0 auto 14px;
  }
  .sec-access .map {
    margin: 0 auto 40px;
  }
  .sec-access .list-access {
    width: 100%;
  }
  .sec-access .list-access li {
    display: block;
    padding: 16px 0;
    text-align: center;
  }
  .sec-access .list-access li .tit-access {
    font-size: 15px;
    width: 100%;
  }
  .sec-access .list-access li .content-access {
    font-size: 13px;
    width: 100%;
  }

  /* footer section */
  #footer {
    margin-top: auto;
    padding: 52px 0 30px;
    border-top: 1px solid #f1efe9;
  }
  #page-home #footer,
  #page-menu #footer {
    border-top: none;
  }
  #footer .img {
    margin: 0 0 40px;
  }
  #footer .copyright {
    font-size: 8px;
  }
  #footer span {
    font-size: 20px;
    margin-bottom: 11px;
  }
  #footer .img img {
    width: 24px;
    height: 24px;
  }

  /* news page */
  .page-header {
    height: 200px;
    margin: 49px auto 0;
  }
  #page-news .page-header {
    background-image: url("../image/bg_news_page_header_sp.jpg");
  }  
  .page-header .page-header-in {
    left: 16px;
    bottom: -36px;
  }
  .page-header .tit-page {
    font-size: 39px;
  }
  #page-news .sec-news {
    margin: 0 auto 60px;
    position: relative;
    padding: 0;
  }
  #page-news .sec-news .sec-in {
    display: block;
  }
  #page-news .sec-news::before,
  #page-news .sec-news::after {
    display: none;
  }
  #page-news .sec-news .sec-news-in {
    width: 100%;
    margin: 0 auto;
  }
  #page-news .sec-news .sec-child {
    padding: 58px 0 0;
  }
  #page-news .sec-news .sec-news-archive {
    /* display: none; */
    /* width: 30%; */
    background: #f7f5ee;
    padding: 0;
  }
  .wp-pagenavi {
    display: block;
    margin: 35px auto;
    text-align: center;
  }
  .wp-pagenavi .page,
  .wp-pagenavi .current {
    text-align: center;
    vertical-align: middle;
    margin: 0 4px 0 0;
    padding: 8px;
    color: #b5b5b5;
    line-height: 1;
  }
  .wp-pagenavi .page:hover,
  .wp-pagenavi .current {
    border-bottom: 1px solid #5b5a5a;
    color: #000;
  }
  .wp-pagenavi .nextpostslink {
    right: 16px;
    /* margin: 24px 0 0; */
  }
  .wp-pagenavi .previouspostslink,
  .wp-pagenavi .nextpostslink {
    width: 60px;
    border: none;
    margin: 0;
    font-size: 14px;
  }
  .wp-pagenavi .nextpostslink span {
    right: 4px;
  }
  .wp-pagenavi .nextpostslink .icon-arrow {
    right: -14px;
    margin: 24px 0 0;
    width: 60px;
  }
  .is-block-pc {
    display: none;
  }
  .is-block-sp {
    display: block;
  }
  #page-news .sec-news .sec-news-archive .tit-archive {
    position: relative;
    padding: 8px 16px;
    font-size: 13px;
    border-bottom: none;
    height: 40px;
  }
  #page-news .sec-news .sec-news-archive .tit-archive::before {
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    width: 7px;
    height: 16px;
    background: #e9e6db;
    padding: 12px;
    content: ' ';
    box-sizing: content-box;
  }
  #page-news .sec-news .sec-news-archive .tit-archive::after {
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    width: 7px;
    height: 16px;
    background: url(../image/ico_arrow_archive_bottom.svg) center center no-repeat;
    background-size: 7px 16px;
    padding: 12px;
    content: ' ';
    transition: transform 0.3s ease-out;
    box-sizing: content-box;
  }
  #page-news .sec-news .sec-news-archive ul {
    display: none;
    padding: 10px 0;
    background: #fcfaf7;
  }
  #page-news .sec-news .sec-news-archive ul li {
    position: relative;
    margin: 0 auto;
    /* padding: 16px; */
    background: #fcfaf7;
  }
  #page-news .sec-news .sec-news-archive ul li a {
    display: block;
    padding: 12px 16px;
    line-height: 1;
  }
	#page-news .sec-news .sec-news-archive .tit-archive.is-open::after {
	    transform: rotate(180deg);
  }
   #page-news .sec-news .sec-news-archive ul li::after {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 16px;
    width: 12px;
    height: 7px;
    content: "";
  }
  #page-news .sec-news .sec-news-in .tit-archive {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: bold;
  }

  /* news 2 */
  #page-blog .sec-news .sec-news-in .tit-news, #page-news .sec-news .sec-news-in .tit-news {
    padding: 0 0 16px;
    margin: 0 auto 24px;
    text-align: left;
    border-bottom: 1px solid #f1efe9;
  }
  #page-news .sec-news .sec-news-in .tit-news h3 {
    margin: 0 0 8px;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
  }
  #page-news .sec-news .sec-news-in .tit-news p {
    font-size: 10px;
  }
  .btn-width-240 {
    width: 50%;
  }
  
  /* menu section */
  #page-menu .header nav {
    background-color: #fff;
  }
  #page-menu .page-header {
    background-image: url("../image/bg_menu_page_header_sp.jpg");
  }  
  #page-menu .sec-menu {
    margin: 48px 0 0;
  }
  #page-menu .sec-menu h3 {
    display: none;
  }
  #page-menu .sec-menu .sec-in {
    padding: 0 16px;
    border-bottom: none;
  }
  #page-menu .sec-menu .list-menu-nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 auto 60px;
    width: 100%;
  }
  #page-menu .sec-menu .list-menu-nav li {
    width: 48%;
    border: 1px solid #c9c3bc;
    margin: 0 0 8px;
    display: flex;
    align-items: center;
    box-sizing: content-box;
  }
  #page-menu .sec-menu .list-menu-nav li a {
    display: block;
    width: 100%;
    padding: 16px 8px;
    font-size: 16px;
    line-height: 1;
    background: url(../image/ico_arrow_down.svg) top 50% right 10px no-repeat;
  }
  #page-menu .sec-menu .sec-menu-in:first-of-type {
    margin: -60px 0 0;
    padding: 60px 0 0;
  }
  #page-menu .sec-menu .sec-menu-in {
    display: block;
    margin: 0;
    padding: 60px 0 0;
  }
  #page-menu .sec-menu .sec-menu-in .title {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
  }
  #page-menu .sec-menu .sec-menu-in .title .txt {
    display: inline-block;
    padding: 0 0 0 12px;
    line-height: 1;
  }
  #page-menu .sec-menu .sec-menu-in .title h4 {
    font-size: 30px;
    font-weight: 300;
  }
  #page-menu .sec-menu .sec-menu-in .title p {
    font-size: 10px;
    color: #525252;
  }
  #page-menu .sec-menu .sec-menu-in .content {
    width: 100%;
  }
  #page-menu .sec-menu .sec-menu-in .content .txt {
    font-size: 14px;
    line-height: 1.78;
  }
  #page-menu .sec-menu .sec-menu-in .content .txt + .list-menu-detail {
    margin: 40px 0 0;
  }
  #page-menu .sec-menu .sec-menu-in .content .list-menu-detail li {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #f1efe9;
  }

  /* staff section */
  #page-staff .sec-staff {
    padding: 60px 0 110px;
  }
  #page-staff .page-header {
    background-image: url(../image/bg_staff_page_header_sp.jpg);
  }

  /* guide section */
  #page-guide .sec-guide {
    padding: 58px 0 0;
  }
  #page-guide .page-header {
    background-image: url("../image/bg_guide_page_header_sp.jpg");
  }  
  #page-guide .page-header .tit-page .sub-tit-page {
    font-size: 16px;
  }
  #page-guide .sec-guide .list-guide li {
    width: 100%;
    margin-bottom: 60px;
  }
  #page-guide .sec-guide .list-guide li .tit-guide {
    font-size: 16px;
    margin-bottom: 13px;
    padding-left: 6px;
    border-left: 3px solid #121212;
  }
  .guide-img1,
  .guide-img2,
  .guide-img3 {
    width: 100%;
    height: 200px;
  }
  .guide-img1 {
    background: url(../image/guide1_sp.jpg) center center no-repeat;
    background-size: cover;
  }
  .guide-img2 {
    background: url(../image/guide2_sp.jpg) center center no-repeat;
    background-size: cover;
  }
  .guide-img3 {
    background: url(../image/guide3_sp.jpg) center center no-repeat;
    background-size: cover;
  }  
  #page-guide .sec-guide .list-guide li .content-guide {
    margin: 5px 0 40px;
    font-size: 13px;
    line-height: 1.5;
  }
  #page-guide .sec-guide .list-guide li img {
    display: block;
    margin: 0 auto;
    width: 25px;
  }
}