@charset "utf-8";

/* news archive2 */
.btn-width-240 {
  width: 240px;
}
.wp-pagenavi .btn-border {
  padding: 0;
  border: 1px solid #8e8e8e;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
/* .wp-pagenavi .btn-border .icon-arrow-gray {
  width: 40px;
  right: 16px;
} */
#page-news .sec-news .sec-news-in .body {
  line-height: 1.71;
}
#page-news .sec-news .sec-news-in .tit-news {
  padding: 0 0 30px;
  margin: 0 auto 48px;
  text-align: center;
  border-bottom: 1px solid #f1efe9;
}
#page-blog .sec-news .sec-news-in .tit-news h3, #page-news .sec-news .sec-news-in .tit-news h3 {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: bold;
}
#page-news .sec-news .sec-news-in .tit-news p {
  font-size: 14px;
}