html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,icenter,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}img{line-height:1;vertical-align:bottom;}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #121212;
  font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothsxic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #121212;
  transition: all .15s ease-in-out 0s;
}

a:hover {
  opacity: 0.8;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.ff-josefin-t {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 100;
}

.ff-josefin-l {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.ff-josefin-m {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.ff-josefin-l th {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.menu-tr th {
  font-size: 16px;
}

/* header */
@keyframes is-fixed {
  0% {
    height: 0;
  }
  100% {
    height: 80px;
  }
}

#page-home .header {
  height: auto;
}

.header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

body.is-fixed .header {
  position: fixed;
  animation: is-fixed .2s ease-out forwards;
}

body.is-fixed .header .header-in {
  animation: is-show .2s ease-out forwards;
}

.header-in {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 1024px;
  height: 80px;
  margin: 0 auto;
  padding: 32px 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.global-nav {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.global-nav {
  display: flex;
  align-items: center;
}

.global-nav .global-nav-in {
  display: flex;
}

.global-nav .global-nav-in .nav-item {
  margin: 0 50px 0 0;
  font-size: 18px;
}

.global-nav .global-nav-in .nav-item a {
  position: relative;
}
.global-nav .global-nav-in li a:hover {
  opacity: 1;
}
.area-call {
  font-size: 22px;
  position: relative;
  top: -4px;
}

.a-link {
  text-decoration: underline;
}

.ico {
  display: inline-block;
}

.ico-call {
  width: 22px;
  height: 22px;
  background: url("../image/電話の受話器のアイコン素材.png") center center no-repeat;
  padding: 0 4px;
  position: relative;
  top: 3px;
}
/* header end */
/* main view */
.sec-mv {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@keyframes slide-left {
	0% {
		transform:translateX(0);
	}
	100% {
		transform:translateX(-40px);
	}
}
@keyframes slide-right {
	0% {
		transform:translateX(-40px);
	}
	100% {
		transform:translateX(0);
	}
}

.list-mv li {
  /* 	transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1); */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: -40px;
  bottom: 0;
  overflow: hidden;
  margin: auto;
}
.list-mv li.current {
	transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: .9;
  z-index: -1;
	visibility: visible;
	transform: rotate(0.0001deg);
	outline: 1px solid transparent;
	backface-visibility: hidden;
}

.list-mv li:nth-of-type(1).current,
.list-mv li:nth-of-type(3).current {
  animation: slide-left 5s linear forwards;
}
.list-mv li:nth-of-type(2).current {
  animation: slide-right 5s linear forwards;
}

.list-mv li:nth-of-type(1) {
	background: url("../image/MV/bg_mv1.jpg") center center no-repeat;
	background-size: cover;
}
.list-mv li:nth-of-type(2) {
	background: url("../image/MV/bg_mv2.jpg") center center no-repeat;
	background-size: cover;
}
.list-mv li:nth-of-type(3) {
	background: url("../image/MV/bg_mv3.jpg") center center no-repeat;
	background-size: cover;
}

@keyframes view-tit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.border-box {
  position: relative;
  height: 100%;
}

.js-tit-lod {
  animation: view-tit 3s forwards;
}

.tit-mv {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 100px;
  font-size: 50px;
  color: #fff;
  opacity: 0;
  overflow: hidden;
  line-height: 100px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 3px 3px rgba(0,0,0,.9);
  letter-spacing: 1.5px;
}

/* .tit-mv:before,
.tit-mv:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  z-index: 2;
} */

.tit-mv:before {
  left: 0px;
  top: 0px;
  animation: move-top 2.5s cubic-bezier(0.6, 0.06, 0.68, 0.2) 0s infinite;
}

.tit-mv:after {
  right: 0px;
  bottom: 0px;
  animation: move-bottom 2.5s cubic-bezier(0.6, 0.06, 0.68, 0.2) 0s infinite;
}

.inner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: background .15s linear;
}

/* .inner:before,
.inner:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  position: absolute;
  z-index: 2;
} */

.inner:before {
  left: 0px;
  top: 0px;
  animation: move-left 2.5s cubic-bezier(0.6, 0.06, 0.68, 0.2) 0s infinite;
}
.inner:after {
  right: 0px;
  bottom: 0px;
  animation: move-right 2.5s cubic-bezier(0.6, 0.06, 0.68, 0.2) 0s infinite;
}

.border {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  opacity: .4;
}

@keyframes move-top {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    transform: translate3d(0%, 0, 0);
  }
  75% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes move-bottom {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  50% {
    transform: translate3d(0%, 0, 0);
  }
  75% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes move-left {
  0% {
    transform: translate3d(0%, 100%, 0);
  }
  50% {
    transform: translate3d(0%, 100%, 0);
  }
  100% {
    transform: translate3d(0%, -100%, 0);
  }
}

@keyframes move-right {
  0% {
    transform: translate3d(0%, -100%, 0);
  }
  50% {
    transform: translate3d(0%, -100%, 0);
  }
  100% {
    transform: translate3d(0%, 100%, 0);
  }
}

@keyframes scrolldown {
  0% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(120px);
  }
}

.sec-mv .scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 34px;
  height: 102px;
  margin-left: -17px;
  font-size: 18px;
  color: #fff;
}

.sec-mv .scroll .scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  width: 1px;
  height: 80px;
}

.sec-mv .scroll .scroll-down .bg-line {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(-120px);
  animation: scrolldown 1.4s cubic-bezier(.25,.25,.75,.75) forwards infinite;
  background-color: #fff;
  background-size: 100% 200%;
}

/* main view end */
.sec-in {
  margin: 0 auto;
  width: 1024px;
  position: relative;
}
/* news */
#main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
}
/* #main img {
  max-width: 100%;
  height: auto;
} */
#page-home .sec-news {
  margin: 180px 0 172px 0;
}

.sec-news .sec-in h2 {
  font-size: 38px;
  margin: 0;
}

#page-home .sec-news .sec-in {
  display: flex;
  justify-content: space-between;
}

.sec-news .list-news {
  width: 640px;
  margin: 0 0 30px;
  font-size: 15px;
  border-top: solid 1px #f1efe9;
}

.sec-news .item-news {
  border-bottom: solid 1px #f1efe9;
}

.sec-news .list-news .item-news a {
  display: flex;
  padding: 20px 0;
  cursor: pointer;
}

.sec-news .list-news .item-news a:hover {
  opacity: .8;
}

.sec-news .list-news .item-news .date {
  width: 140px;
}

.sec-news .list-news .item-news .title {
  width: 500px;
}

.sec-news .area-btn-more {
  width: 120px;
  margin: 0 0 0 auto;
}

.btn {
  position: relative;
  display: block;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.sec-news .area-btn-more .btn {
  font-size: 18px;
  padding: 0 0 15px;
}

@keyframes view-line1 {
  from {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform-origin: left;
    transform-origin: left;
	  -webkit-transform: scaleX(1);
		transform: scaleX(1);
  }
}
@keyframes view-line2 { 
  from { 
    -webkit-transform-origin: right;
    transform-origin: right;
	  -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  to { 
    -webkit-transform-origin: right;
    transform-origin: right;
	  -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

.btn-more::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  z-index: 1;
}

.btn-more:hover:before {
  animation: view-line1 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s alternate forwards, view-line2 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s alternate forwards;
}

.btn-more:hover {
  opacity: 1;
}

.btn-more span {
  z-index: 2;
  position: relative;
}

.icon {
  display: inline-block;
}

.icon-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 1px;
  margin: auto;
}

.icon-arrow-gray {
  width: 96px;
  right: 0;
  background-color: #a9a39c;
  transition: all .15s ease-in-out 0s;
}

.icon-arrow-bottom {
  width: 100%;
  margin: 24px 0 0;
}

.icon-arrow::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  height: 1px;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}

.icon-arrow-gray::after {
  background-color: #a9a39c;
  width: 8px;
}
/* news end */
/* menu */
#page-home .sec-menu {
  position: relative;
  padding: 336px 0 176px;
}

#page-home .sec-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 1280px;
  height: 440px;
  margin: 0 auto;
  background: url("../image/bg_menu.jpg") center center no-repeat;
  background-size: cover;
}

.sec-menu .sec-in {
  padding: 56px 72px;
  background-color: #fff;
  border-radius: 15px;
}

.sec-menu-in {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.sec-menu-child {
  margin: 0 0 70px;
}

.ta-c {
  text-align: center;
}

.sec-menu h2 {
  margin: 0 auto 60px;
  font-size: 58px;
}

.sec-menu-child h3 {
  margin: 0 0 28px;
  font-size: 34px;
  overflow: hidden;
}

.sec-menu .sec-menu-child h3 span {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
}

.sec-menu .sec-menu-child h3 span::before,
.sec-menu .sec-menu-child h3 span::after {
  position: absolute;
  top: 50%;
  content: '';
  width: 500%;
  height: 4px;
  border: 1px double #dbd5ce;
  border-left: none;
  margin: -1px 0 0;
}
.sec-menu .sec-menu-child h3 span::before {
  right: 100%;
}
.sec-menu .sec-menu-child h3 span::after {
  left: 100%;
}

#page-home .sec-menu .sec-menu-child {
  width: 400px;
  margin: 0 0 70px;
}
#page-home .sec-menu .sec-menu-child ul li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 24px 0 0;
  line-height: 1.2;
}
#page-home .sec-menu .sec-menu-child ul li div:first-of-type {
  width: 160px;
}
#page-home .sec-menu .sec-menu-child ul li div:not(:first-of-type) {
  width: 80px;
  text-align: center;
}

@keyframes view-txt { 0% { color: #080808; }
  50% { color: #fff; }
  100% { color: #080808; } }

.area-btn {
  width: 400px;
  margin: 0 auto;
  font-size: 20px;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-border {
  padding: 34px 0;
  border: 1px solid #a9a39c;
}

.btn-border:hover {
  opacity: 1;
}

.btn-border::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.btn-border:hover:before {
  animation: view-line1 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s alternate forwards, view-line2 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s alternate forwards;
}

.btn-border span {
  position: relative;
}

.btn-border:hover span {
  animation: view-txt 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0s alternate forwards;
}

.btn-flex i {
  position: relative;
  margin: 0 16px;
}
/* menu end */
/* staff */
@keyframes width-76 {
  0% {width: 0;}
  100% {width: 76%;}
}
@keyframes height-268 {
  0% {height: 0;}
  100% {height: 60px;}
}
@keyframes is-show {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes is-show-up {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);
  }
}
@keyframes is-show-up {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);
  }
}

.sec-staff {
  position: relative;
  padding: 0 0 300px;
}

.box-beige {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 76%;
  height: 1180px;
  background-color: #faf7f3;
}
#page-staff .box-beige {
  height: 98%;
}

.sec-staff .box-beige.sf-visible {
  animation: width-76 .4s ease-out forwards;
}

.sec-staff h2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 58px;
  background: #fff;
  height: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  padding: 15px 100px;
}

/* .wm-vr {
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
} */

.sec-staff h2 span {
  opacity: 0;
  visibility: hidden;
  display: block;
  /* padding: 56px 14px 88px 7px; */
}

.sec-staff .sec-in.sf-visible h2 {
  animation: height-268 .4s ease-out forwards;
  animation-delay: .4s;
}

.sec-staff .sec-in.sf-visible h2 span {
  animation: is-show .4s ease-out forwards;
  animation-delay: .8s;
}

.sec-staff .list-staff {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
#page-home .sec-staff .list-staff {
  position: relative;
  top: 123px;
}
.sec-staff .list-staff li {
  display: flex;
  justify-content: space-between;
  width: 460px;
}

.sec-staff .list-staff li:nth-of-type(1) {
  margin: 0 0 0 48px;
}
.sec-staff .list-staff li:nth-of-type(2) {
  margin: 224px 0 0;
}
.sec-staff .list-staff li:nth-of-type(3) {
  margin: -95px 0 0;
}

#page-home .sec-staff .list-staff li .img,
#page-home .sec-staff .list-staff li .content-staff .title,
#page-home .sec-staff .list-staff li .content-staff .en,
#page-home .sec-staff .list-staff li .content-staff .jp,
#page-home .sec-staff .list-staff li .content-staff p {
  opacity: 0;
	visibility: hidden;
}
.sec-staff .sec-in.sf-visible .list-staff li .img {
	animation: is-show .4s ease-out forwards;
}
.sec-staff .sec-in.sf-visible .list-staff li .content-staff .title,
.sec-staff .sec-in.sf-visible .list-staff li .content-staff .en,
.sec-staff .sec-in.sf-visible .list-staff li .content-staff .jp,
.sec-staff .sec-in.sf-visible .list-staff li .content-staff p {
  animation: is-show-up .4s ease-out forwards;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(1) .img {
	animation-delay: 1s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(1) .content-staff .title {
	animation-delay: 1.2s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(1) .content-staff .en {
  animation-delay: 1.3s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(1) .content-staff .jp {
	animation-delay: 1.4s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(1) .content-staff p {
	animation-delay: 1.5s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(2) .img {
	animation-delay: 1.8s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(2) .content-staff .title {
	animation-delay: 2s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(2) .content-staff .en {
  animation-delay: 2.1s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(2) .content-staff .jp {
	animation-delay: 2.2s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(2) .content-staff p {
	animation-delay: 2.3s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(3) .img {
	animation-delay: 2.6s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(3) .content-staff .title {
	animation-delay: 2.8s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(3) .content-staff .en {
  animation-delay: 2.9s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(3) .content-staff .jp {
	animation-delay: 3s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(3) .content-staff p {
	animation-delay: 3.1s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(4) .img {
	animation-delay: 3.4s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(4) .content-staff .title {
	animation-delay: 3.6s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(4) .content-staff .en {
  animation-delay: 3.7s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(4) .content-staff .jp {
	animation-delay: 3.8s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(4) .content-staff p {
	animation-delay: 3.9s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(5) .img {
	animation-delay: 4.2s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(5) .content-staff .title {
	animation-delay: 4.4s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(5) .content-staff .en {
  animation-delay: 4.5s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(5) .content-staff .jp {
	animation-delay: 4.6s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(5) .content-staff p {
	animation-delay: 4.7s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(6) .img {
	animation-delay: 5s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(6) .content-staff .title {
	animation-delay: 5.2s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(6) .content-staff .en {
  animation-delay: 5.3s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(6) .content-staff .jp {
	animation-delay: 5.4s;
}
.sec-staff .sec-in.sf-visible .list-staff li:nth-of-type(6) .content-staff p {
	animation-delay: 5.5s;
}

.staff-img1 {
  background: url(../image/staffwomen1.png) center center no-repeat;
}
.staff-img2 {
  background: url(../image/staffmen2.png) center center no-repeat;
}
.staff-img3 {
  background: url(../image/staffwomen3.png) center center no-repeat;
}
.staff-img1,
.staff-img2,
.staff-img3 {
  line-height: 1;
  vertical-align: bottom;
  background-size: cover;
  width: 215px;
  height: 280px;
  margin: 0 auto;
  max-width: 100%;
}

.sec-staff .list-staff .content-staff {
  width: 215px;
  margin: 48px 0 0;
}

.ff-josefin-l {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.ff-josefin-t {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 100;
}

.ff-josefin-m {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.sec-staff .list-staff li .content-staff h3 {
  margin: 0 0 28px;
}

.sec-staff .list-staff li .content-staff h3 span {
  display: block;
}

.sec-staff .list-staff li .content-staff p {
  margin: 0;
}

.sec-staff .list-staff li .content-staff h3 .title {
  margin: 0 0 16px;
  font-size: 16px;
}

.sec-staff .list-staff li .content-staff h3 .en {
  margin: 0 0 14px;
  font-size: 26px;
}

.sec-staff .list-staff li .content-staff h3 .jp {
  font-size: 14px;
}

.sec-staff .list-staff li .content-staff p {
  font-size: 13px;
  line-height: 1.84;
}
/* staff end */
/* access */
#page-home .sec-access {
  padding: 100px 0 0;
}
.sec-access h2 {
  font-size: 58px;
  margin: 0 auto 50px;
}

.sec-access .map {
  height: 460px;
  margin: 0 auto 80px;
}

.sec-access .list-access {
  width: 720px;
  margin: 0 auto;
  border-top: 1px solid #f1efe9;
}

.sec-access .list-access li {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #f1efe9;
}

.sec-access .list-access li .tit-access {
  width: 270px;
  font-size: 18px;
}

.sec-access .list-access li .content-access {
  width: 450px;
  font-size: 15px;
  line-height: 1.73;
}
/* access end */
/* footer */
#footer {
  margin-top: auto;
  padding: 88px 0 32px;
  border-top: 1px solid #f1efe9;
}
#footer {
  font-size: 11px;
}
#page-home #footer,
#page-menu #footer,
#page-staff #footer {
  border-top: none;
}
#footer .img {
  margin: 0 0 80px;
}
#footer .img a {
  display: block;
}
#footer span {
  display: block;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 15px;
}
#footer .img img {
  width: 36px;
  height: 36px;
}
.copyright {
  color: #817d7d;
  font-size: 11px;
}
/* footer end */

/* 
page news 
*/

/* main */
.page-header {
  position: relative;
  width: 100%;
  height: 520px;
  margin: -80px auto 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
#page-news .page-header {
  background-image: url("../image/bg_news_page_header.jpg");
}
body.is-fixed .page-header {
  margin: 0 auto;
}

.global-nav .global-nav-in .nav-item a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0px;
  height: 1px;
  background: #000;
  transition: all linear .1s 0s;
  margin-left: -12px;
}
.global-nav .global-nav-in .nav-item a:hover::after {
  width: 24px;
}
#page-news .global-nav .global-nav-in .nav-item .a-news::after,
#page-menu .global-nav .global-nav-in .nav-item .a-menu::after,
#page-staff .global-nav .global-nav-in .nav-item .a-staff::after {
  width: 24px;
}

.page-header .page-header-in {
  position: absolute;
  width: 1024px;
  top: auto;
  right: 0;
  left: 0;
  bottom: -34px;
  margin: 0 auto;
}

.page-header .tit-page {
  font-size: 68px;
}

#page-news .sec-news {
  position: relative;
  padding: 0 0 160px;
  overflow: hidden;
}

#page-news .sec-news::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}
#page-news .sec-news::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #fcfaf7;
  z-index: -1;
}

#page-news .sec-news .sec-in {
  display: flex;
  justify-content: space-between;
}
#page-news .sec-news .sec-child {
  padding: 120px 0 0;
}
#page-news .sec-news .sec-news-in {
  width: 640px;
  margin: 0 0 0 112px;
}
.wp-pagenavi {
  display: block;
  margin: 120px auto 10px;
  text-align: center;
  position: relative;
}
.wp-pagenavi a {
  text-decoration: none;
  transition: all .15s ease-in-out 0s;
}
.wp-pagenavi .current,
.wp-pagenavi .page {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 8px 0 0;
  padding: 8px;
  color: #b5b5b5;
}
.wp-pagenavi .current,
.wp-pagenavi .page:hover {
  border-bottom: 1px solid #5b5a5a;
  color: #000;
}
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  width: 120px;
  height: 100%;
  position: relative;
  display: block;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}
.wp-pagenavi .nextpostslink {
  position: absolute;
  top: 7px;
  right: 0;
}
.wp-pagenavi .previouspostslink {
  position: absolute;
  top: 7px;
  left: 0;
}
.wp-pagenavi .previouspostslink:before,
.wp-pagenavi .nextpostslink:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  z-index: 1;
}
.wp-pagenavi .previouspostslink:hover:before,
.wp-pagenavi .nextpostslink:hover:before {
  animation: view-line1 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s alternate forwards, view-line2 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s alternate forwards;
}
.wp-pagenavi .nextpostslink span {
  position: relative;
  right: 44px;
  z-index: 2;
}
.wp-pagenavi .previouspostslink span {
  position: relative;
  left: 44px;
  z-index: 2;
}
.wp-pagenavi .nextpostslink .icon-arrow {
  /* display: block; */
  /* right: -44px; */
  width: 120px;
}
.wp-pagenavi .previouspostslink i {
  right: 0;
  width: 120px;
}
.wp-pagenavi .previouspostslink i::after {
  right: auto;
  left: 0;
  bottom: 0;
  content: '';
  height: 1px;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}
#page-news .sec-news .sec-news-archive {
  /* width: 30%; */
  background-color: #fcfaf7;
  padding: 120px 0 0 48px;
}
#page-news .sec-news .sec-news-archive .tit-archive {
  position: relative;
  padding: 0 0 16px;
  font-size: 18px;
  border-bottom: 1px solid #eae5db;
}
#page-news .sec-news .sec-news-archive .tit-archive::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50vw;
  height: 1px;
  background-color: #eae5db;
  content: ' ';
}
.is-block-sp {
  display: none;
}
#page-news .sec-news .sec-news-archive ul li {
  position: relative;
  margin: 24px 0 0;
}
#page-news .sec-news .sec-news-archive ul li::after {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 2px;
  width: 12px;
  height: 7px;
  background: url("../image/ico_arrow_archive_right.svg") center center no-repeat;
  content: "";
}

/* news date 2020 */
#page-news .sec-news .sec-news-in .tit-archive {
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: bold;
}

/* page menu */
#page-menu .page-header {
  background-image: url("../image/bg_menu.jpg");
}
#page-menu .sec-menu {
  margin: 120px 0 0;
}
#page-menu .sec-menu .list-menu-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 110px;
}
#page-menu .sec-menu .sec-in {
  padding: 0 0 160px;
  border-bottom: 1px solid #f1efe9;
}
#page-menu .sec-menu h3 {
  margin: 0 auto 70px;
  line-height: 2;
}
#page-menu .sec-menu .list-menu-nav li a {
  padding-right: 20px;
  font-size: 18px;
  color: #a0a0a0;
  background: url(../image/ico_arrow_down.svg) top right no-repeat;
}
#page-menu .sec-menu .sec-menu-in {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0;
  padding: 100px 0 0;
}
#page-menu .sec-menu .sec-menu-in:first-of-type {
  margin: -100px 0 0;
  padding: 100px 0 0;
}
#page-menu .sec-menu .sec-menu-in .title {
  display: flex;
}
.icon-cut {
  width: 35px;
  height: 39px;
  background: url(../image/icons8-理髪店-100.png) center center no-repeat;
  background-size: cover;
}
.icon-color {
  width: 35px;
  height: 39px;
  background: url(../image/icons8-カラー-ホイール-2-80.png) center center no-repeat;
  background-size: cover;
}
.icon-perm {
  width: 35px;
  height: 39px;
  background: url(../image/icons8-ヘアドライヤー-80.png) center center no-repeat;
  background-size: cover;
}
.icon-setup {
  width: 35px;
  height: 39px;
  background: url(../image/icons8-化粧ブラシ-200.png) center center no-repeat;
  background-size: cover;
}
.icon-dressing {
  width: 35px;
  height: 39px;
  background: url(../image/icons8-ドレス正面図-200.png) center center no-repeat;
  background-size: cover;
}
#page-menu .sec-menu .sec-menu-in .title .txt {
  display: inline-block;
  padding: 0 0 0 12px;
  line-height: 1;
}
#page-menu .sec-menu .sec-menu-in .title h4 {
  font-size: 30px;
  font-weight: 100;
}
#page-menu .sec-menu .sec-menu-in .title p {
  font-size: 13px;
  color: #525252;
}
#page-menu .sec-menu .sec-menu-in .content {
  width: 680px;
}
#page-menu .sec-menu .sec-menu-in .content .txt {
  font-size: 14px;
  line-height: 2;
}
#page-menu .sec-menu .sec-menu-in .content .list-menu-detail {
  margin:0;
  border-top: 1px solid #f1efe9;
}
#page-menu .sec-menu .sec-menu-in .content .txt + .list-menu-detail {
  margin: 48px 0 0;
}
#page-menu .sec-menu .sec-menu-in .content .list-menu-detail li {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #f1efe9;
}
#page-menu .list-menu-detail li div:first-of-type {
  width: 40%;
}
#page-menu .list-menu-detail li div:not(:first-of-type) {
  width: 20%;
  text-align: center;
}

/* staff page */
#page-staff .page-header {
  background-image: url(../image/bg_staff_page_header.jpg);
}
#page-staff .page-header .tit-page {
  color: burlywood;
}
#page-staff .sec-staff {
  padding: 120px 0 280px;
}

/* guide page */
#page-guide .sec-guide {
  padding: 120px 0 0;
}
#page-guide .page-header {
  background-image: url("../image/bg_guide_page_header.jpg");
}
#page-guide .page-header .tit-page .sub-tit-page {
  font-size: 30px;
}
#page-guide .sec-guide .list-guide li {
  width: 50%;
  margin-bottom: 120px;
}
.guide-img1,
.guide-img2,
.guide-img3 {
  width: 100%;
  height: 300px;
}
.guide-img1 {
  background: url(../image/guide1.jpg) center center no-repeat;
  background-size: cover;
}
.guide-img2 {
  background: url(../image/guide2.jpg) center center no-repeat;
  background-size: cover;
}
.guide-img3 {
  background: url(../image/guide3.jpg) center center no-repeat;
  background-size: cover;
}
#page-guide .sec-guide .list-guide li .tit-guide {
  font-size: 28px;
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: 7px solid #121212;
}
#page-guide .sec-guide .list-guide li .content-guide {
  margin: 10px 0 80px;
  font-size: 18px;
  line-height: 1.73;
}
#page-guide .sec-guide .list-guide li img {
  display: block;
  margin: 0 auto;
}